# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.json
*.json
*.json
/.cache
.cache/92/c030cc75090551ae7b64d8a76bbdbc.json
.cache/48/711300c3e10488bdfb6f4f1b715cab.json
.cache/92/c030cc75090551ae7b64d8a76bbdbc.json
.cache/48/711300c3e10488bdfb6f4f1b715cab.json
.cache/92/c030cc75090551ae7b64d8a76bbdbc.json
